*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}

html{
    height: 400vh; 
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top:0;
    left:0;
    transition: 0.5s;
}
header.rolagem{
    background-color: #222020;
    padding: 10px 4%;

}
header.rolagem a{
    color: #fff;
    padding: 20px 4%;
}

header ul{
    list-style-type: none;
}

header ul li{
    
    display: inline-block;    
    margin:0 15px;
}

header ul li a{

   color: #fff;
   text-decoration: none;
}

.banner{
    height: 83vh;
    background-image: url(img/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    flex-wrap: wrap;

    /*animation*/
    animation: changeBackgroundImage 12s infinite;
    
    
}

 .banner h1{
    color: #fff;
    font-size: 5em;
    
 }


 .banner h4{
    
    color: #C0C0C0;
    font-size: 30px;
   
 }

 .btn-contato a button{
    background-color: #222020;
    border: #fff;
    width: 150px;
    height: 40px;
    border-radius: 40px;
    font-size: 13px;
    color: #fff;
 }
 .btn-contato a button:hover{
    
    border: none;
    width: 150px;
    height: 45px;
   font-size: 90%;
    color: goldenrod;
    transition: 0.3s;
 }

.banner h1 span{
    color: #C0C0C0;
}

.banner a button{
    margin-top: 40px;
    margin: 50px;
    background-color: transparent;
    border-color: goldenrod;
    width: 250px;
    height: 80px;
    border-radius: 40px;
    font-size: 30px;
    color: goldenrod;

}

.banner a button:hover{
    border: none;
    background-color: goldenrod;
    transition: 0.3s;
     color: #222020;

}
/*animation*/
@keyframes changeBackgroundImage {
    0% {
      background-image: url(img/2.jpg);
    }
    25% {
      background-image: url(img/3.jpg);
    }
    50% {
        background-image: url(img/1.jpg);
      }
}

.flex-1{
    
    margin: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.banner-1{
    border-radius: 50px;
    height: 600px;
    
    background-image: url(img/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-1 h1{
    text-align: center;
    
}

.banner-2{
    border-radius: 50px;
    height: 600px;
    background-image: url(img/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-2 h1{
    text-align: center;
    
}
.banner-3{
    border-radius: 50px;
    height: 600px;
    background-image: url(img/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-3 h1{
    text-align: center;
}